<nav class="d-flex flex-column p-3 bg-light h-100 border-end" style="width:260px">
  <a href="/" class="navbar-brand mb-3">
    <img src="../images/logo.png" alt="Chess" width="50" height="75" class="d-inline-block align-text-top">
  </a>

  <ul class="nav nav-pills flex-column gap-1">
    <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/createGame.html">Create Game</a></li>
    <li class="nav-item"><a class="nav-link" href="/joinGame.html">Join Game</a></li>
  </ul>

  <!-- Bottom account controls -->
  <div class="mt-auto pt-3 border-top">
    <button id="logoutBtn" type="button" class="btn btn-outline-danger w-100 d-none">
      Log out
    </button>
  </div>
</nav>